@media screen and (min-width: 0px) and (max-width: 767px){
  .fiat_titles-alone{
    text-align: center;
    font-size: 1.3rem;
    margin-bottom: 1rem;
  }

  .fiat_titles-2, .fiat_titles-3, .fiat_titles-1{
    font-weight: 500;
  }
  
  .fiat_titles-2{
    justify-self: center;
  }
  
  .fiat_titles-3{
    justify-self: end;
  }
  
  .fiat_container-exchanges{
    display: flex;
    text-decoration: none;
    flex-direction: column;
    color: rgb(26, 26, 26);
    cursor: pointer;
    background-color: white;
    margin-bottom: 0;
    margin-right: 0;
    border: 1px solid #b9b9b9;
    font-size: 1.6rem;
    padding: 1rem;
  }
  
  .fiat_container-exchanges h4{
    margin: 0;
    font-size: 1.1rem;
  }
  
  .fiat_container-exchanges img{
    height: 28px;
    margin: 0 .3rem;
  }
  
  .fiat_container-exchanges-1{
    font-weight: 500;
    align-items: center;
  }
  
  .fiat_container-exchanges-2{
    justify-self: center;
    font-weight: 500;
  } 
  
  .fiat_container-exchanges-3{
    font-weight: 500;
    justify-self: end;
  }

  .fiat_container-exchanges-1::before{
    content: "Name: ";
    font-weight: 400;
    font-size: 1.3rem;
  }

  .fiat_container-exchanges-2::before{
    content: "Sign: ";
    font-size: 1.3rem;
    font-weight: 400;
  }

  .fiat_container-exchanges-3::before{
    content: "Symbol: ";
    font-size: 1.3rem;
    font-weight: 400;
  }
  
  h4{
    margin: 0;
    margin-top: 1rem;
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px){
  .fiat_titles{
    display: grid;
    padding: 0 2rem;
    grid-auto-flow: column;
    font-size: 1.2rem;
    grid-template-columns: repeat(3, 1fr);
    justify-items: start;
    margin-bottom: .6rem;
  }
  
  .fiat_titles-2, .fiat_titles-3, .fiat_titles-1{
    font-weight: 500;
  }
  
  .fiat_titles-2{
    justify-self: center;
  }
  
  .fiat_titles-3{
    justify-self: end;
  }
  
  .fiat_container-exchanges{
    text-decoration: none;
    color: #000;
    display: grid;
    padding: .6rem 2.4rem;
    grid-auto-flow: column;
    justify-items: start;
    align-items: center;
    grid-template-columns: repeat(3, 1fr);
    background-color: #fff;
    border-top: 1px solid rgb(184, 184, 184);
    border-right: 1px solid rgb(184, 184, 184);
    border-left: 1px solid rgb(184, 184, 184);
  
  }
  
  .fiat_container-exchanges h4{
    margin: 0;
    font-size: 1.1rem;
  }
  
  .fiat_container-exchanges img{
    height: 28px;
    margin: 0 .3rem;
  }
  
  .fiat_container-exchanges-1{
    font-weight: 500;
    display: flex;
    align-items: center;
  }
  
  .fiat_container-exchanges-2{
    justify-self: center;
    font-weight: 400;
  } 
  
  .fiat_container-exchanges-3{
    font-weight: 400;
    justify-self: end;
  }
  
  h4{
    margin: 0;
    margin-top: 1rem;
  }
}

@media screen and (min-width: 1280px){
  .fiat_titles{
    display: grid;
    padding: 0 2rem;
    grid-auto-flow: column;
    grid-template-columns: repeat(3, 1fr);
    justify-items: start;
    margin-bottom: .6rem;
  }
  
  .fiat_titles-2, .fiat_titles-3, .fiat_titles-1{
    font-weight: 400;
  }
  
  .fiat_titles-2{
    justify-self: center;
  }
  
  .fiat_titles-3{
    justify-self: end;
  }
  
  .fiat_container-exchanges{
    text-decoration: none;
    color: #000;
    display: grid;
    padding: .6rem 2.4rem;
    grid-auto-flow: column;
    justify-items: start;
    align-items: center;
    grid-template-columns: repeat(3, 1fr);
    background-color: #fff;
    border-top: 1px solid rgb(184, 184, 184);
    border-right: 1px solid rgb(184, 184, 184);
    border-left: 1px solid rgb(184, 184, 184);
  
  }
  
  .fiat_container-exchanges h4{
    margin: 0;
    font-size: .9rem;
  }
  
  .fiat_container-exchanges img{
    height: 28px;
    margin: 0 .3rem;
  }
  
  .fiat_container-exchanges-1{
    font-weight: 500;
    display: flex;
    align-items: center;
  }
  
  .fiat_container-exchanges-2{
    justify-self: center;
    font-weight: 400;
  } 
  
  .fiat_container-exchanges-3{
    font-weight: 400;
    justify-self: end;
  }
  
  h4{
    margin: 0;
    margin-top: 1rem;
  }
}