@media screen and (min-width: 0px){
  .coin_main{
    padding: 1rem;
    background-color: rgb(234, 234, 234);
    min-height: 100vh;
  }

  .coin-title{
    margin-bottom: .6rem !important;
  }
  
  .coin-title img{
    height: 30px;
  }
  
  .coin_des-title{
    margin: 0;
    max-width: 90vw;
  }
}

@media screen and (min-width: 768px){

  .coin_main{
    padding: 1rem;
    background-color: rgb(234, 234, 234);
  }

  .coin-title{
    font-size: 1.6rem;
  }
  
  .coin-title img{
    height: 60px;
  }
  
  .coin_des-title{
    margin: 0;
    font-size: 1.25rem !important;
    letter-spacing: .5px;
    word-spacing: .5px;
    /* max-width: 90vw; */
  }
}

@media screen and (min-width: 1280px){
  .coin{
    display: grid;
    grid-template-columns: 1fr 4fr;
  }
  
  .coin_main{
    padding: 1rem;
    background-color: rgb(234, 234, 234);
    min-height: 35rem;
  }
  
  .coin-title img{
    height: 30px;
  }
  
  .coin_des-title{
    margin: 0;
  }
}