@media screen and (min-width: 0px) and (max-width: 767px){
  .home_main{
    background-color: rgb(234, 234, 234);
    min-height: 100vh;
    padding: 1rem;
  }

  h1{
    text-align: center;
  }

  h1, .home_title-secondary{
    margin: 0;
    font-weight: 600;
    
  }

  .active{
    background-color: #0091ff;
  }

  .home_info{
    padding: 0 .6rem;
    margin-top: .6rem;
    margin-bottom: 1.6rem;
    
    display: grid;
    text-align: center;
    grid-template-columns: repeat(2, 1fr);
  }

  .home_info-card{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

  .home_container-secondary-title button{
    padding: 0;
    background-color: transparent;
    border: none;
    color: #0091ff;
    margin-top: 1rem;
    font-size: 1.2rem;
    font-weight: 600;
    cursor: pointer;
  }

  .home_coins{
    margin-bottom: 1.4rem;
    margin-top: 1.4rem;
    display: grid;
    gap: .8rem;
  }

  .home_coin{
    display: flex;
    text-decoration: none;
    flex-direction: column;
    color: rgb(26, 26, 26);
    cursor: pointer;
    background-color: white;
    margin-bottom: 1rem;
    margin-right: 1rem;
  }
  
  .home_coin-first{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #eaeaea;
  }
  
  .home_coin-first h3{
    font-weight: 500;
    margin-left: 1.4rem;
  }
  
  .home_coin-first img{
    margin-right: 1.4rem;
    height: 1.8rem;
  }
  
  .home_coin-second{
    margin: 0 1.4rem 1rem;
  }
  
  .home_coin-second p{
    color: rgb(67, 67, 67);
  }

  .home_container-secondary-title{
    text-align: center;
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px){
  .home_main{
    background-color: rgb(234, 234, 234);
    padding: 1rem;
    min-height: 100vh;
  }

  h1{
    
    text-align: center;
  }

  .home_title-secondary{
    font-size: 2.2rem;
  }

  h1, .home_title-secondary{
    margin: 0;
    font-weight: 600;
  }

  .active{
    background-color: #0091ff;
  }

  .home_info{
    margin-top: 1rem;
    margin-bottom: 1.6rem;
    padding: 0 .6rem;
    
    display: grid;
    text-align: center;
    grid-template-columns: repeat(2, 1fr);
  }

  .home_info-card{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-size: 1.4rem;
  }

  .home_container-secondary-title button{
    padding: 0;
    background-color: transparent;
    border: none;
    color: #0091ff;
    margin-top: 1rem;
    font-size: 1.8rem;
    font-weight: 600;
    cursor: pointer;
  }

  .home_coins{
    margin-bottom: 1.4rem;
    margin-top: 1.4rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
  }

  .home_coin{
    display: flex;
    text-decoration: none;
    flex-direction: column;
    color: rgb(26, 26, 26);
    cursor: pointer;
    background-color: white;
    margin-bottom: 0;
    margin-right: 0;
    font-size: 1.4rem;
  }
  
  .home_coin-first{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #eaeaea;
  }
  
  .home_coin-first h3{
    font-weight: 500;
    margin-left: 1.4rem;
  }
  
  .home_coin-first img{
    margin-right: 1.4rem;
    height: 1.8rem;
  }
  
  .home_coin-second{
    margin: 0 1.4rem 1rem;
  }
  
  .home_coin-second p{
    color: rgb(67, 67, 67);
  }

  .home_container-secondary-title{
    text-align: center;
  }
}

@media screen and (min-width: 1280px){
  .home{
    display: grid;
    grid-template-columns: 1fr 4fr;
    height: 100vh;
  }
  
  .active{
    background-color: #0091ff;
  }
  
  li > a{
    display: flex;
    align-items: center;
    padding: .6rem;
  }
  
  h1, .home_title-secondary{
    margin: 0;
    font-weight: 600;
  }
  
  .home_main{
    background-color: rgb(234, 234, 234);
    min-height: 100vh;
    padding: 1rem;
  }
  
  .home_info{
    margin-top: .8rem;
    margin-bottom: 3rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
  }
  
  .home_info-card{
    display: flex;
    flex-direction: column;
    gap: .4rem;
  }
  
  .home_info h4{
    margin: 0;
    font-weight: 350;
    color: rgb(140, 140, 140);
  }
  
  .home_info p{
    margin: 0;
    font-size: 1.2rem;
  }
  
  .home_coins{
    margin-bottom: 1.4rem;
    margin-top: 1.4rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: .8rem;
    
  }
  
  .home_coin{
    display: flex;
    text-decoration: none;
    flex-direction: column;
    color: rgb(26, 26, 26);
    cursor: pointer;
    background-color: white;
    margin-bottom: 1rem;
    margin-right: 1rem;
  }
  
  .home_coin-first{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #eaeaea;
  }
  
  .home_coin-first h3{
    font-weight: 500;
    margin-left: 1.4rem;
  }
  
  .home_coin-first img{
    margin-right: 1.4rem;
    height: 1.8rem;
  }
  
  .home_coin-second{
    margin: 0 1.4rem 1rem;
  }
  
  .home_coin-second p{
    color: rgb(67, 67, 67);
  }
  
  .home_container-secondary-title{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .home_container-secondary-title button{
    padding: 0;
    background-color: transparent;
    border: none;
    color: #0091ff;
    font-size: 1.2rem;
    font-weight: 600;
    cursor: pointer;
  }
}