@media screen and (min-width: 0px) and (max-width: 767px){
  .home_news {
    display: grid;
    margin-bottom: 1.4rem;
    margin-top: 1rem;
    grid-template-columns: repeat(1, 1fr);
    gap: 0.8rem;
  }
  
  h1{
    text-align: center;
  }
  
  .news-container {
    background-color: #fff;
    text-decoration: none;
    padding: 1rem;
    display: grid;
    gap: 0.8rem;
  }
  
  .news-first {
    display: grid;
    gap: 0.6rem;
    grid-template-columns: 7fr 1fr;
  }
  
  .news-first h4 {
    color: #1a1a1a;
    font-weight: 500;
  }
  
  .news-second {
    color: #434343;
  }
  
  .news-third {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .news-third div {
    display: flex;
    gap: 0.6rem;
    align-items: center;
  }
  
  .news-third div img {
    max-width: 40px;
  }
  
  .news-third div p,
  .news-third p {
    color: #1a1a1a;
  }
}

@media screen and (min-width: 768px) and (max-width: 1279px){
  .home_news {
    display: grid;
    margin-bottom: 1.4rem;
    margin-top: 1rem;
    grid-template-columns: repeat(2, 1fr);
    gap: 0.8rem;
  }
  
  h1{
    text-align: center;
  }
  
  .news-container {
    background-color: #fff;
    text-decoration: none;
    padding: 1rem;
    display: grid;
    gap: 0.8rem;
  }
  
  .news-first {
    display: grid;
    gap: 0.6rem;
    grid-template-columns: 7fr 1fr;
  }
  
  .news-first h4 {
    color: #1a1a1a;
    font-weight: 500;
  }
  
  .news-second {
    color: #434343;
  }
  
  .news-third {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .news-third div {
    display: flex;
    gap: 0.6rem;
    align-items: center;
  }
  
  .news-third div img {
    max-width: 40px;
  }
  
  .news-third div p,
  .news-third p {
    color: #1a1a1a;
  }
}

@media screen and (min-width: 1280px){
  .home_news {
    display: grid;
    margin-bottom: 1.4rem;
    margin-top: 1rem;
    grid-template-columns: repeat(2, 1fr);
    gap: 0.8rem;
  }
  
  h1{
    text-align: center;
  }
  
  .news-container {
    background-color: #fff;
    text-decoration: none;
    padding: 1rem;
    display: grid;
    gap: 0.8rem;
  }
  
  .news-first {
    display: grid;
    gap: 0.6rem;
    grid-template-columns: 7fr 1fr;
  }
  
  .news-first h4 {
    color: #1a1a1a;
    font-weight: 500;
  }
  
  .news-second {
    color: #434343;
  }
  
  .news-third {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .news-third div {
    display: flex;
    gap: 0.6rem;
    align-items: center;
  }
  
  .news-third div img {
    max-width: 40px;
  }
  
  .news-third div p,
  .news-third p {
    color: #1a1a1a;
  }
  
}

